<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.northsky.shop.dao.SyscodeMapper">

    <select id="selectTypeByTypeId" resultType="hashmap">
        select s.id, s.pro_name proName, f.id fId
        from syscode s
        inner join syscode f on s.f_id = f.id
        where s.id = #{typeId}
    </select>

    <select id="selectTypesByCondition" resultType="hashmap">
        select s.id, s.pro_name sname, f.pro_name fname
        from syscode s
        inner join syscode f on s.f_id = f.id
        <where>
            s.status = 1
            <if test="secondName != null">
                and s.pro_name like #{secondName}
            </if>

            <if test="firstType != null">
                and f.id = #{firstType}
            </if>
        </where>
        order by s.id desc
    </select>

    <resultMap id="labelValueResultMap" type="xyz.northsky.shop.dto.LabelValueBean">
        <id column="id" property="value" jdbcType="INTEGER"/>
        <result column="pro_name" property="label" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectLabelValueBeanByType" resultMap="labelValueResultMap">
        select id, pro_name from syscode where type = #{type} and f_id is not null
    </select>

    <select id="selectByType" resultType="hashmap">
        SELECT s.`id`,s.`pro_name`,s.`pro_value`,f.`pro_name` f_name
          FROM syscode s, syscode f
        WHERE s.`f_id` = f.`id`
          AND s.`status` = '1'
          AND s.`type` = #{type}
    </select>

    <resultMap id="BaseResultMap" type="xyz.northsky.shop.entity.Syscode">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="pro_name" property="proName" jdbcType="VARCHAR"/>
        <result column="pro_value" property="proValue" jdbcType="INTEGER"/>
        <result column="f_id" property="fId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="CHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, type, pro_name, pro_value, f_id, status
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="xyz.northsky.shop.entity.SyscodeExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from syscode
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from syscode
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from syscode
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="xyz.northsky.shop.entity.SyscodeExample">
        delete from syscode
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="xyz.northsky.shop.entity.Syscode">
    insert into syscode (id, type, pro_name, 
      pro_value, f_id, status)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{proName,jdbcType=VARCHAR}, 
      #{proValue,jdbcType=INTEGER}, #{fId,jdbcType=INTEGER}, #{status,jdbcType=CHAR})
  </insert>
    <insert id="insertSelective" parameterType="xyz.northsky.shop.entity.Syscode">
        insert into syscode
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="proName != null">
                pro_name,
            </if>
            <if test="proValue != null">
                pro_value,
            </if>
            <if test="fId != null">
                f_id,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="proName != null">
                #{proName,jdbcType=VARCHAR},
            </if>
            <if test="proValue != null">
                #{proValue,jdbcType=INTEGER},
            </if>
            <if test="fId != null">
                #{fId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="xyz.northsky.shop.entity.SyscodeExample" resultType="java.lang.Integer">
        select count(*) from syscode
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update syscode
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.type != null">
                type = #{record.type,jdbcType=VARCHAR},
            </if>
            <if test="record.proName != null">
                pro_name = #{record.proName,jdbcType=VARCHAR},
            </if>
            <if test="record.proValue != null">
                pro_value = #{record.proValue,jdbcType=INTEGER},
            </if>
            <if test="record.fId != null">
                f_id = #{record.fId,jdbcType=INTEGER},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=CHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update syscode
        set id = #{record.id,jdbcType=INTEGER},
        type = #{record.type,jdbcType=VARCHAR},
        pro_name = #{record.proName,jdbcType=VARCHAR},
        pro_value = #{record.proValue,jdbcType=INTEGER},
        f_id = #{record.fId,jdbcType=INTEGER},
        status = #{record.status,jdbcType=CHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="xyz.northsky.shop.entity.Syscode">
        update syscode
        <set>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="proName != null">
                pro_name = #{proName,jdbcType=VARCHAR},
            </if>
            <if test="proValue != null">
                pro_value = #{proValue,jdbcType=INTEGER},
            </if>
            <if test="fId != null">
                f_id = #{fId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="xyz.northsky.shop.entity.Syscode">
    update syscode
    set type = #{type,jdbcType=VARCHAR},
      pro_name = #{proName,jdbcType=VARCHAR},
      pro_value = #{proValue,jdbcType=INTEGER},
      f_id = #{fId,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>