<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>似乎有点小故障...</title>

<link th:href="@{/css/error.css}" rel="stylesheet" type="text/css" />

</head>
<body>


<div id="container" style="margin-top: 200px;">

	<img class="png msg" th:src="@{/images/500_msg.png}" />
	<p><a th:href="@{/index}" target="_self"><img class="png" th:src="@{/images/404_to_index.png}" /></a> </p>
</div>

<div id="cloud" class="png"></div>


 
</body>
</html>