<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>首页</title>

    <link th:href="@{/AmazeUI-2.4.2/assets/css/amazeui.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/AmazeUI-2.4.2/assets/css/admin.css}" rel="stylesheet" type="text/css"/>

    <link th:href="@{/basic/css/demo.css}" rel="stylesheet" type="text/css"/>

    <link th:href="@{/css/hmstyle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/skin.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/AmazeUI-2.4.2/assets/js/jquery.min.js}"></script>
    <script th:src="@{/AmazeUI-2.4.2/assets/js/amazeui.min.js}"></script>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="hmtop">
    <!--顶部导航条 -->
    <div class="am-container header">
        <ul class="message-l">
            <div class="topMessage">
                <div class="menu-hd" th:if="${session.user == null}">
                    <a th:href="@{/login}" target="_top">亲，请登录</a>
                    &nbsp;
                    <a th:href="@{/user/register}" target="_top">免费注册</a>
                </div>
                <div class="menu-hd" th:if="${session.user != null}">
                    <a th:href="@{/index}">网站首页</a>
                </div>
                <a style="position:absolute;left:1300px;top: 0;" th:href="@{/logout}">退出</a>
            </div>
        </ul>
    </div>

    <!--悬浮搜索框-->

    <div class="nav white">
        <div class="search-bar pr">
            <a name="index_none_header_sysc" href="#"></a>
            <form th:action="@{/book/search}" method="post">
                <input id="searchInput" name="bookName" type="text" placeholder="搜索" autocomplete="off">
                <input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
            </form>
        </div>
    </div>

    <div class="clear"></div>
</div>
<div class="banner">
    <!--轮播 -->
    <div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
        <ul class="am-slides">
            <li><img th:src="@{/images/2017111323052093025.jpg}" /></li>
            <li><img th:src="@{/images/7-1F215142P7.jpg}" /></li>
            <li><img th:src="@{/images/7-1F215142P3.jpg}" /></li>
            <li><img th:src="@{/images/7-1F215142P5.jpg}" /></li>

        </ul>
    </div>
    <div class="clear"></div>
</div>
<script type="text/javascript">
    (function() {
        $('.am-slider').flexslider();
        $('#slider').flexslider('next');
        $('#slider').flexslider('prev');
    });
    $(document).ready(function() {
        $("li").hover(function() {
            $(".category-content .category-list li.first .menu-in").css("display", "none");
            $(".category-content .category-list li.first").removeClass("hover");
            $(this).addClass("hover");
            $(this).children("div.menu-in").css("display", "block")
        }, function() {
            $(this).removeClass("hover")
            $(this).children("div.menu-in").css("display", "none")
        });
    })
</script>
<!--<div style="position: absolute;left: 130px;top:180px;z-index: 9;width: 80%">
    <div class="layui-carousel" id="banner1">
        &lt;!&ndash;轮播 &ndash;&gt;
        <div carousel-item="">
            <div><img height="450px" th:src="@{/images/2017111323052093025.jpg}"></div>
            <div><img height="450px" th:src="@{/images/7-1F215142P7.jpg}"></div>
            <div><img height="450px" th:src="@{/images/7-1F215142P3.jpg}"></div>
            <div><img height="450px" th:src="@{/images/7-1F215142P5.jpg}"></div>
        </div>

    </div>
</div>-->
<!--<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        carousel.render({
            elem : '#banner1',
            width : '100%',
            height : "460px"
        });
    });
</script>-->
<form id="form01" method="post" th:action="@{/book/search}">
    <input type="hidden" name="typeId" id="typeId">
</form>
<div class="shopNav">
    <div class="slideall">

        <div class="long-title"><span style="cursor: pointer;" id="allType" class="all-goods">全部分类</span></div>

        <!--侧边导航 -->
        <div id="nav" class="navfull">
            <div class="area clearfix">
                <div class="category-content" style="height: 450px;background-color: #2b2b2b" id="guide_2">

                    <div class="category">
                        <ul class="category-list" id="js_climit_li">
                            <li class="appliance js_toggle relative" th:each="type : ${session.types}">
                                <div class="category-info">
                                    <h3 class="category-name b-category-name">
                                        <a class="ml-22" th:text="${type.key}"></a>
                                    </h3>
                                    <em>&gt;</em>
                                </div>
                                <div class="menu-item menu-in top">
                                    <div class="area-in">
                                        <div class="area-bg">
                                            <div class="menu-srot">
                                                <div class="sort-side">
                                                    <dl class="dl-sort" >
                                                        <dd th:each="bean : ${type.value}">
                                                            <a th:title="${bean.label}" href="javascript:;" th:onclick="'f1('+${bean.value}+')'"><span th:text="${bean.label}"></span></a>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <b class="arrow"></b>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>


        <div class="clear"></div>
    </div>
    <script type="text/javascript">
        if ($(window).width() < 640) {
            function autoScroll(obj) {
                $(obj).find("ul").animate({
                    marginTop: "-39px"
                }, 500, function () {
                    $(this).css({
                        marginTop: "0px"
                    }).find("li:first").appendTo(this);
                })
            }

            $(function () {
                setInterval('autoScroll(".demo")', 3000);
            })
        }
    </script>
</div>
<div class="shopMainbg">
    <div class="shopMain" id="shopmain">

        <!--今日推荐 -->

        <div class="am-g am-g-fixed recommendation">
            <div class="clock am-u-sm-3">
                <p>今日<br>推荐</p>
            </div>

            <div class="am-u-sm-4 am-u-lg-3 " th:each="recBook,iterStat : ${recomBooks}" th:if="${iterStat.index<3}">
                <div class="info ">
                    <h3 th:text="${recBook.name}"></h3>
                </div>
                <div class="recommendationMain one">
                    <a th:href="@{/book/{bookId}(bookId=${recBook.id})}"><img th:src="@{/images/{img}(img=${recBook.image})} "></img></a>
                </div>
            </div>

        </div>
        <div class="clear "></div>

        <div id="f1">
            <!--甜点-->

            <div class="am-container ">
                <div class="shopTitle ">
                    <h4>好书</h4>
                    <h3>每一本书都有一个故事</h3>
                </div>
            </div>

            <div class="am-g am-g-fixed floodFour">
                <div class="am-u-sm-5 am-u-md-4 text-one list ">
                    <div class="word">
                        <a class="outer" href="javascript:;"><span class="inner"><b class="text"></b></span></a>
                        <a class="outer" href="javascript:;"><span class="inner"><b class="text"></b></span></a>
                        <a class="outer" href="javascript:;"><span class="inner"><b class="text"></b></span></a>
                        <a class="outer" href="javascript:;"><span class="inner"><b class="text"></b></span></a>
                        <a class="outer" href="javascript:;"><span class="inner"><b class="text"></b></span></a>
                        <a class="outer" href="javascript:;"><span class="inner"><b class="text"></b></span></a>
                    </div>
                    <a href="javascript:; ">
                        <div class="outer-con ">
                            <div class="title ">
                                开抢啦！
                            </div>
                            <div class="sub-title ">
                                好书大礼包
                            </div>
                        </div>
                        <img th:src="@{/images/1526112283789.jpg} "/>
                    </a>
                    <div class="triangle-topright"></div>
                </div>

                <div class="am-u-sm-7 am-u-md-4 text-two sug" th:object="${recomBooks[0]}" th:if="${recomBooks != null && #lists.size(recomBooks) >= 1}">
                    <div class="outer-con ">
                        <div th:text="*{name}" class="title ">

                        </div>
                        <div class="sub-title " th:text="*{'¥' + price}">

                        </div>
                    </div>
                    <a th:href="@{/book/{bookId}(bookId=*{id})}"><img th:src="@{/images/{img}(img=*{image})}"/></a>
                </div>

                <div class="am-u-sm-7 am-u-md-4 text-two" th:object="${recomBooks[1]}" th:if="${recomBooks != null && #lists.size(recomBooks) >= 2}">
                    <div class="outer-con ">
                        <div th:text="*{name}" class="title ">

                        </div>
                        <div class="sub-title " th:text="*{'¥' + price}">

                        </div>
                    </div>
                    <a th:href="@{/book/{bookId}(bookId=*{id})}"><img th:src="@{/images/{img}(img=*{image})}"/></a>
                </div>

                <div class="am-u-sm-3 am-u-md-2 text-three big" th:object="${recomBooks[2]}" th:if="${recomBooks != null && #lists.size(recomBooks) >= 3}">
                    <div class="outer-con ">
                        <div th:text="*{name}" class="title ">

                        </div>
                        <div class="sub-title " th:text="*{'¥' + price}">

                        </div>
                    </div>
                    <a th:href="@{/book/{bookId}(bookId=*{id})}"><img th:src="@{/images/{img}(img=*{image})}"/></a>
                </div>

                <div class="am-u-sm-3 am-u-md-2 text-three sug" th:object="${recomBooks[3]}" th:if="${recomBooks != null && #lists.size(recomBooks) >= 4}">
                    <div class="outer-con ">
                        <div th:text="*{name}" class="title ">

                        </div>
                        <div class="sub-title " th:text="*{'¥' + price}">

                        </div>
                    </div>
                    <a th:href="@{/book/{bookId}(bookId=*{id})}"><img th:src="@{/images/{img}(img=*{image})}"/></a>
                </div>

                <div class="am-u-sm-3 am-u-md-2 text-three " th:object="${recomBooks[4]}" th:if="${recomBooks != null && #lists.size(recomBooks) >= 5}">
                    <div class="outer-con ">
                        <div th:text="*{name}" class="title ">

                        </div>
                        <div class="sub-title " th:text="*{'¥' + price}">

                        </div>
                    </div>
                    <a th:href="@{/book/{bookId}(bookId=*{id})}"><img th:src="@{/images/{img}(img=*{image})}"/></a>
                </div>

                <div class="am-u-sm-3 am-u-md-2 text-three last big " th:object="${recomBooks[5]}" th:if="${recomBooks != null && #lists.size(recomBooks) >= 6}">
                    <div class="outer-con ">
                        <div th:text="*{name}" class="title ">

                        </div>
                        <div class="sub-title " th:text="*{'¥' + price}">

                        </div>
                    </div>
                    <a th:href="@{/book/{bookId}(bookId=*{id})}"><img th:src="@{/images/{img}(img=*{image})}"/></a>
                </div>

            </div>
            <div class="clear "></div>
        </div>

        <div class="footer ">
            <div class="footer-hd ">
                <p>
                    <a href="# ">商城首页</a>
                    <b>|</b>
                    <a href="https://www.alipay.com" target="_blank">支付宝</a>
                </p>
            </div>
            <div class="footer-bd ">
                <p>
                    <a href="javascript:;">合作伙伴</a>
                    <a href="javascript:;">联系我们</a>
                    <a href="javascript:;">网站地图</a>
                </p>
            </div>
        </div>

    </div>
</div>
<!--引导 -->
<div class="navCir">
    <li class="active"><a th:href="@{/index}"><i class="am-icon-home "></i>首页</a></li>
    <li><a href="javascript:;"><i class="am-icon-list"></i>分类</a></li>
    <li><a th:href="@{/cart/{id}(id=${session.user.id})}"><i class="am-icon-shopping-basket"></i>购物车</a></li>
    <li><a th:href="@{session.user != null ? '/user/'+${session.user.id} : 'javascript:;'}"><i class="am-icon-user"></i>我的</a></li>
</div>


<!--菜单 -->
<div class=tip>
    <div id="sidebar">
        <div id="wrap">
            <div id="prof" class="item ">
                <a href="javascript:; ">
                    <span class="setting "></span>
                </a>
                <div class="ibar_login_box status_login ">
                    <div class="avatar_box ">
                        <p class="avatar_imgbox "><img th:src="@{/images/{imgId}(imgId=${session.user.img == null ? 'no-img_mid_.jpg' : session.user.img})}"/></p>
                        <ul class="user_info ">
                            <li th:if="${session.user != null}" th:text="${session.user.nickName}"></li>
                        </ul>
                    </div>
                    <div class="login_btnbox ">
                        <a th:href="@{session.user != null ? '/user/'+${session.user.id} : 'javascript:;'}" class="login_order ">个人中心</a>
                        <a th:href="@{/order/{userId}/3(userId=${session.user.id})}" class="login_favorite ">我的订单</a>
                    </div>
                    <i class="icon_arrow_white "></i>
                </div>

            </div>
            <div id="shopCart " class="item ">
                <a th:href="@{/cart/{id}(id=${session.user.id})}">
                    <span class="message "></span>
                </a>
                <p>
                    购物车
                </p>
                <p class="cart_num " th:text="${session.cartNum}">0</p>
            </div>

            <div class="quick_toggle ">
                <li class="qtitem ">
                    <a href="#top " class="return_top "><span class="top "></span></a>
                </li>
            </div>

            <!--回到顶部 -->
            <div id="quick_links_pop " class="quick_links_pop hide "></div>

        </div>

    </div>
</div>
    <script>
        window.jQuery || document.write('<script th:src="@{basic/js/jquery.min.js} "><\/script>');
    </script>
    <script type="text/javascript " th:src="@{/basic/js/quick_links.js} "></script>
</body>

<script>

    $(function () {
        $("#allType").click(function () {
            var nav = $("#nav");
            if (nav.css('display') == 'none') {
                nav.fadeIn("fast");
            } else {
                nav.fadeOut("fast");
            }
        });
    });

    function f1(id) {
        $("#typeId").val(id);
        $("#form01").submit();
    }
</script>
</html>