<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

    <title>个人资料</title>

    <link th:href="@{/AmazeUI-2.4.2/assets/css/admin.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/AmazeUI-2.4.2/assets/css/amazeui.min.css}" rel="stylesheet" type="text/css">

    <link th:href="@{/css/personal.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/infstyle.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}" type="text/css">
</head>

<body>
<header>
    <article>
        <div class="mt-logo">
            <!--顶部导航条 -->
            <div class="am-container header">
                <ul class="message-l">
                    <div class="topMessage">
                        <div class="menu-hd" th:if="${session.user == null}">
                            <a th:href="@{/login}" target="_top">亲，请登录</a>
                            &nbsp;
                            <a th:href="@{/user/register}" target="_top">免费注册</a>
                        </div>
                        <div class="menu-hd" th:if="${session.user != null}">
                            <a th:href="@{/index}">网站首页</a>
                        </div>
                        <a style="position:absolute;left:82%;top: 0;" th:href="@{/logout}">退出</a>
                    </div>
                </ul>
            </div>

            <!--悬浮搜索框-->

            <div class="nav white">
                <div class="search-bar pr">
                    <a name="index_none_header_sysc" href="#"></a>
                    <form th:action="@{/book/search}" method="post">
                        <input id="searchInput" name="bookName" type="text" placeholder="搜索" autocomplete="off">
                        <input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
                    </form>
                </div>
            </div>

            <div class="clear"></div>
        </div>
        </div>
    </article>
</header>
<div class="nav-table">
    <div class="long-title"><span class="all-goods">全部分类</span></div>
</div>
<b class="line"></b>
<div class="center">
    <div class="col-main">
        <div class="main-wrap">

            <div class="user-info">
                <!--标题 -->
                <div class="am-cf am-padding">
                    <div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">个人资料</strong> /
                        <small>Personal&nbsp;information</small>
                    </div>
                </div>
                <hr/>

                <!--头像 -->
                <div class="user-infoPic">

                    <div class="filePic">
                        <form id="imgForm" th:action="@{/user/img}" method="post" enctype="multipart/form-data">
                        <input type="file" id="uploadImg" name="img" class="inputPic" allowexts="gif,jpeg,jpg,png,bmp" accept="image/*">
                        </form>
                        <img class="am-circle am-img-thumbnail" id="userImg" th:src="@{/images/{imgId}(imgId=${session.user.img == null ? 'no-img_mid_.jpg' : session.user.img})}" alt=""/>
                    </div>

                    <p class="am-form-help">头像</p>

                    <div class="info-m">
                        <div><b>用户名：<i th:text="${session.user.nickName}"></i></b></div>
                        <div><button class="btn btn-sm btn-primary" onclick="uploadImg()">上传头像</button></div>
                    </div>
                </div>

                <!--个人信息 -->
                <div class="info-main">
                    <form th:action="@{/user/info}" method="post" class="am-form am-form-horizontal">
                        <input type="hidden" name="id" th:value="${userInfo.id}">
                        <div class="am-form-group">
                            <label for="user-name2" class="am-form-label">昵称</label>
                            <div class="am-form-content">
                                <input type="text" id="user-name2" maxlength="16" name="nickName" th:value="${userInfo.nickName}" placeholder="nickname">

                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-name" class="am-form-label">姓名</label>
                            <div class="am-form-content">
                                <input type="text" maxlength="20" id="user-name" placeholder="name" name="name" th:value="${userInfo.name}">

                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-form-label">性别</label>
                            <div class="am-form-content sex">
                                <label class="am-radio-inline">
                                    <input type="radio" name="gender" th:checked="${userInfo.gender == '1'}" value="1" data-am-ucheck> 男
                                </label>
                                <label class="am-radio-inline">
                                    <input type="radio" name="gender" th:checked="${userInfo.gender == '0'}" value="0" data-am-ucheck> 女
                                </label>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-birth" class="am-form-label">生日</label>
                            <div class="am-form-content">
                                <input id="user-birth" name="birth" type="date" th:value="${#dates.format(userInfo.birth,'yyyy-MM-dd')}">
                            </div>

                        </div>
                        <div class="am-form-group">
                            <label for="user-phone" class="am-form-label">电话</label>
                            <div class="am-form-content">
                                <input id="user-phone" name="tel" maxlength="11" th:value="${userInfo.tel}" placeholder="telephonenumber" type="tel">

                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-email" class="am-form-label">电子邮件</label>
                            <div class="am-form-content">
                                <input id="user-email" maxlength="50" placeholder="Email" type="email" name="email" th:value="${userInfo.email}">

                            </div>
                        </div>
                        <div class="info-btn">
                            <button type="submit" class="am-btn am-btn-danger">保存修改</button>
                        </div>

                    </form>
                </div>

            </div>

        </div>
        <div class="footer ">
            <div class="footer-hd ">
                <p>
                    <a href="# ">商城首页</a>
                    <b>|</b>
                    <a href="https://www.alipay.com" target="_blank">支付宝</a>
                </p>
            </div>
            <div class="footer-bd ">
                <p>
                    <a href="javascript:;">合作伙伴</a>
                    <a href="javascript:;">联系我们</a>
                    <a href="javascript:;">网站地图</a>
                </p>
            </div>
        </div>
    </div>

    <aside class="menu">
        <ul>
            <li class="person active">
                <a href="javascript:;">个人中心</a>
            </li>
            <li class="person">
                <a href="javascript:;">个人资料</a>
                <ul>
                    <li><a th:href="@{/user/{userId}(userId=${session.user.id})}">个人信息</a></li>
                    <li><a th:href="@{/password}">安全设置</a></li>
                </ul>
            </li>
            <li class="person">
                <a href="javascript:;">我的交易</a>
                <ul>
                    <li><a th:href="@{/order/{userId}/3(userId=${session.user.id})}">订单管理</a></li>
                </ul>
            </li>
            <li class="person">
                <span>&nbsp;</span>
                <ul>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                </ul>
            </li>

            <li class="person">
                <span>&nbsp;</span>
                <ul>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                </ul>
            </li>

            <li class="person">
                <span>&nbsp;</span>
                <ul>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                </ul>
            </li>

            <li class="person">
                <span>&nbsp;</span>
                <ul>
                    <li>&nbsp;</li>
                </ul>
            </li>

        </ul>

    </aside>
</div>

</body>
<script th:src="@{/AmazeUI-2.4.2/assets/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/AmazeUI-2.4.2/assets/js/amazeui.min.js}" type="text/javascript"></script>
<script>
    function uploadImg() {
        if (!$($(".inputPic")[0]).val()) {
            alert("请选择头像后再点击上传!");
            return false;
        }
        var fileObj = document.getElementById("uploadImg").files[0];
        var formFile = new FormData();

        formFile.append("img", fileObj);
        $.ajax({
            url : "/user/img",
            type : "POST",
            data : formFile,
            processData: false,
            contentType: false,
            cache: false,
            success : function (json) {
                if (json.responseCode == 'OK') {
                    $("#userImg").attr("src", "/images/" + json.data);
                } else {
                    alert('上传失败!');
                }
            },
            error : function () {
                alert("网络异常!");
            }
        });
    }
</script>
</html>