<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>商品页面</title>

    <link th:href="@{/AmazeUI-2.4.2/assets/css/admin.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/AmazeUI-2.4.2/assets/css/amazeui.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/basic/css/demo.css}" rel="stylesheet" type="text/css"/>
    <link type="text/css" th:href="@{/css/optstyle.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/style.css}" rel="stylesheet"/>

    <script type="text/javascript" th:src="@{/basic/js/jquery-1.7.min.js}"></script>
    <script type="text/javascript" th:src="@{/basic/js/quick_links.js}"></script>

    <script type="text/javascript" th:src="@{/AmazeUI-2.4.2/assets/js/amazeui.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.imagezoom.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.flexslider.js}"></script>
    <script type="text/javascript" th:src="@{/js/list.js}"></script>
</head>

<body>
<div class="am-container header">
    <ul class="message-l">
        <div class="topMessage">
            <div class="menu-hd" th:if="${session.user == null}">
                <a th:href="@{/login}" target="_top">亲，请登录</a>
                &nbsp;
                <a th:href="@{/user/register}" target="_top">免费注册</a>
            </div>
            <div class="menu-hd" th:if="${session.user != null}">
                <a th:href="@{/index}">网站首页</a>
            </div>
            <a style="position:absolute;left:1300px;top: 0;" th:href="@{/logout}">退出</a>
        </div>
    </ul>
</div>

<!--悬浮搜索框-->

<div class="nav white">
    <div class="search-bar pr">
        <a name="index_none_header_sysc" href="#"></a>
        <form th:action="@{/book/search}" method="post">
            <input id="searchInput" name="bookName" type="text" placeholder="搜索" autocomplete="off">
            <input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
        </form>
    </div>
</div>

<div class="clear"></div>
<b class="line"></b>
<div class="listMain">

    <!--分类-->
    <div class="nav-table">
        <div class="long-title"><span class="all-goods">全部分类</span></div>
    </div>
    <ol class="am-breadcrumb am-breadcrumb-slash">
        <li><a href="#">首页</a></li>
        <li><a href="#">分类</a></li>
        <li class="am-active">内容</li>
    </ol>

    <!--放大镜-->

    <div class="item-inform">
        <div class="clearfixLeft" id="clearcontent">

            <div class="box">

                <div class="tb-booth tb-pic tb-s310">
                    <a><img th:src="@{/images/{img}(img=${book.image})}" class="jqzoom"/></a>
                </div>
            </div>

            <div class="clear"></div>
        </div>

        <div class="clearfixRight">

            <!--规格属性-->
            <!--名称-->
            <div class="tb-detail-hd">
                <h1 th:text="${book.name}">

                </h1>
            </div>
            <div class="tb-detail-list">
                <!--价格-->
                <div class="tb-detail-price">
                    <li class="price iteminfo_price">
                        <dt>价格</dt>
                        <dd><em>¥</em><b class="sys_item_price" th:text="${book.price}"></b></dd>
                    </li>
                    <div class="clear"></div>
                </div>


                <!--销量-->
                <ul class="tm-ind-panel">
                    <li class="tm-ind-item tm-ind-sellCount canClick">
                        <div class="tm-indcon"><span class="tm-label">本月销量</span><span class="tm-count" th:text="${book.month_quantities != null ? book.month_quantities : 0}"></span></div>
                    </li>
                    <li class="tm-ind-item tm-ind-sumCount canClick">
                        <div class="tm-indcon"><span class="tm-label">累计销量</span><span class="tm-count" th:text="${book.total_quantities != null ? book.total_quantities : 0}">0</span>
                        </div>
                    </li>
                    <!--<li class="tm-ind-item tm-ind-reviewCount canClick tm-line3">
                        <div class="tm-indcon"><span class="tm-label">累计评价</span><span class="tm-count">640</span></div>
                    </li>-->
                </ul>
                <div class="clear"></div>

                <!--各种规格-->
                <dl class="iteminfo_parameter sys_item_specpara">
                    <dt class="theme-login">
                        <div class="cart-title">可选规格<span class="am-icon-angle-right"></span></div>
                    </dt>
                    <dd>
                        <!--操作页面-->

                        <div class="theme-popover-mask"></div>

                        <div class="theme-popover">
                            <div class="theme-span"></div>
                            <div class="theme-poptit">
                                <a href="javascript:;" title="关闭" class="close">×</a>
                            </div>
                            <div class="theme-popbod dform">
                                <form class="theme-signin" name="loginform" action="" method="post">

                                    <div class="theme-signin-left">
                                        <div class="theme-options">
                                            <div class="cart-title number">数量</div>
                    <dd>
                        <input id="min" class="am-btn am-btn-default" name="" type="button" value="-"/>
                        <input id="text_box" name="" type="text" value="1" style="width:30px;"/>
                        <input id="add" class="am-btn am-btn-default" name="" type="button" value="+"/>
                        <span id="Stock" class="tb-hidden">库存<span class="stock" th:text="${book.inventory}"></span>本</span>
                    </dd>

            </div>
            <div class="clear"></div>

            <div class="btn-op">
                <div class="btn am-btn am-btn-warning">确认</div>
                <div class="btn close am-btn am-btn-warning">取消</div>
            </div>
        </div>

        </form>
    </div>
</div>

</dd>
</dl>
<div class="clear"></div>
<!--活动	-->
</div>

<div class="pay">
    <div class="pay-opt">
        <a th:href="@{/index}"><span class="am-icon-home am-icon-fw">首页</span></a>
        <a><span class="am-icon-heart am-icon-fw">收藏</span></a>

    </div>
    <li>
        <div class="clearfix tb-btn tb-btn-buy theme-login">
            <a id="LikBuy" title="点此按钮到下一步确认购买信息" href="javascript:;" onclick="buyNow()">立即购买</a>
        </div>
    </li>
    <li>
        <div class="clearfix tb-btn tb-btn-basket theme-login">
            <a id="LikBasket" title="加入购物车" href="javascript:;" onclick="addToCart()"><i></i>加入购物车</a>
        </div>
    </li>
</div>

</div>

<div class="clear"></div>

</div>

<!-- introduce-->

<div class="introduce">
    <div class="browse">
        <div class="mc">
            <ul>
                <div class="mt">
                    <h2>看了又看</h2>
                </div>

                <li th:each="recBook,iterStat : ${recomBooks}" th:if="${iterStat.index<2}">
                    <div class="p-img">
                        <a th:href="@{/book/{bookId}(bookId=${recBook.id})}"> <img class="" th:src="@{/images/{img}(img=${recBook.image})}"> </a>
                    </div>
                    <div class="p-name"><a href="#" th:text="${recBook.name}">

                    </a>
                    </div>
                    <div class="p-price"><strong th:text="'￥' + ${recBook.price}"></strong></div>
                </li>

            </ul>
        </div>
    </div>
    <div class="introduceMain">
        <div class="am-tabs" data-am-tabs>
            <ul class="am-avg-sm-3 am-tabs-nav am-nav am-nav-tabs">
                <li class="am-active">
                    <a href="#">

                        <span class="index-needs-dt-txt">宝贝详情</span></a>

                </li>

            </ul>

            <div class="am-tabs-bd">

                <div class="am-tab-panel am-fade am-in am-active">
                    <div class="J_Brand">

                        <div class="attr-list-hd tm-clear">
                            <h4>图书信息：</h4></div>
                        <div class="clear"></div>
                        <ul id="J_AttrUL">
                            <li title="" th:text="${'图书名:&nbsp;' + book.name}"></li>
                            <li title="" th:text="${'作者:&nbsp;' + book.author}"></li>
                            <li title="" th:text="${'图书类别:&nbsp;' + book.typeName}"></li>
                            <li title="" th:text="${'字数:&nbsp;' + book.word_num}"></li>
                            <li title="" th:text="${'页数:&nbsp;' + book.page_num}"></li>
                            <li title="" th:text="${'出版时间:&nbsp;' + book.publish_time}"></li>
                        </ul>
                        <div class="clear"></div>
                    </div>

                    <div class="details">
                        <div class="attr-list-hd after-market-hd">
                            <h4>内容简介</h4>
                        </div>
                        <div class="twlistNews">
                            <div th:utext="${book.description}"></div>
                        </div>
                    </div>
                    <div class="clear"></div>

                </div>

            </div>

        </div>

        <div class="clear"></div>

        <div class="footer ">
            <div class="footer-hd ">
                <p>
                    <a href="# ">商城首页</a>
                    <b>|</b>
                    <a href="https://www.alipay.com" target="_blank">支付宝</a>
                </p>
            </div>
            <div class="footer-bd ">
                <p>
                    <a href="javascript:;">合作伙伴</a>
                    <a href="javascript:;">联系我们</a>
                    <a href="javascript:;">网站地图</a>
                </p>
            </div>
        </div>
    </div>

</div>
</div>
<!--引导 -->
<div class="navCir">
    <li class="active"><a th:href="@{/index}"><i class="am-icon-home "></i>首页</a></li>
    <li><a href="javascript:;"><i class="am-icon-list"></i>分类</a></li>
    <li><a th:href="@{/cart/{id}(id=${session.user.id})}"><i class="am-icon-shopping-basket"></i>购物车</a></li>
    <li><a th:href="@{session.user != null ? '/user/'+${session.user.id} : 'javascript:;'}"><i class="am-icon-user"></i>我的</a></li>
</div>

<!--菜单 -->
<div class=tip>
    <div id="sidebar">
        <div id="wrap">
            <div id="prof" class="item ">
                <a href="javascript:; ">
                    <span class="setting "></span>
                </a>
                <div class="ibar_login_box status_login ">
                    <div class="avatar_box ">
                        <p class="avatar_imgbox "><img th:src="@{/images/{imgId}(imgId=${session.user.img == null ? 'no-img_mid_.jpg' : session.user.img})}"/></p>
                        <ul class="user_info ">
                            <li th:if="${session.user != null}" th:text="${session.user.nickName}"></li>
                        </ul>
                    </div>
                    <div class="login_btnbox ">
                        <a th:href="@{session.user != null ? '/user/'+${session.user.id} : 'javascript:;'}" class="login_order ">个人中心</a>
                        <a th:href="@{/order/{userId}/3(userId=${session.user.id})}" class="login_favorite ">我的订单</a>
                    </div>
                    <i class="icon_arrow_white "></i>
                </div>

            </div>
            <div id="shopCart " class="item ">
                <a th:href="@{/cart/{id}(id=${session.user.id})}">
                    <span class="message "></span>
                </a>
                <p>
                    购物车
                </p>
                <p class="cart_num " th:text="${session.cartNum}">0</p>
            </div>

            <div class="quick_toggle ">
                <li class="qtitem ">
                    <a href="#top " class="return_top "><span class="top "></span></a>
                </li>
            </div>

            <!--回到顶部 -->
            <div id="quick_links_pop " class="quick_links_pop hide "></div>

        </div>

    </div>
</div>
<div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">操作提示</div>
        <div id="modal-content" class="am-modal-bd">

        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
        </div>
    </div>
</div>
    <script>
        window.jQuery || document.write('<script th:src="@{/basic/js/jquery.min.js} "><\/script>');
    </script>
    <script type="text/javascript " th:src="@{/basic/js/quick_links.js} "></script>

</body>

<script th:inline="javascript">
    $(function () {
        var stock = $($(".stock")[0]).text();
        if (stock == 0) {
            $("#text_box").val('0');
            $("#add").attr("disabled", "disabled");
            $("#LikBuy").css('display', 'none');
            $("#LikBasket").css('display', 'none');
        }
    });
</script>
<script th:inline="javascript">

    function buyNow() {
        var bookId = [[${book.id}]]; //图书id
        var bookNum = $("#text_box").val(); // 图书数量
        var form = $("<form></form>").attr("action", "/order/buy").attr("method", "POST")
            .append($("<input/>").attr("name", "id").attr("type", "hidden").attr("value", bookId))
            .append($("<input/>").attr("name", "quantities").attr("value", bookNum));
        $(document.body).append(form);
        form.submit();
    }
</script>
<script th:inline="javascript">
    function addToCart() {
        var bookId = [[${book.id}]]; //图书id
        var userId = [[${session.user != null ? session.user.id : null}]]; // 用户ID
        var bookNum = $("#text_box").val(); // 图书数量
        var msgContent = $("#modal-content");
        $.ajax({
            url : "/cart/add",
            data : {userId : userId, bookId : bookId, bookNum : bookNum},
            type : "POST",
            success : function (json) {
                if (json.responseCode == 'OK') {
                    if (json.data != null) {
                        $($(".cart_num")[0]).text(json.data);
                    }
                    msgContent.text("添加成功!");
                    $("#my-alert").modal("open");
                } else {
                    msgContent.text("添加失败!");
                    $("#my-alert").modal("open");
                }
            },
            error : function () {
                msgContent.text("网络异常!");
                $("#my-alert").modal("open");
            }
        });
    }
</script>
</html>