<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dream</title>
    <!-- Bootstrap Styles-->
    <link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link th:href="@{/assets/css/font-awesome.css}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link th:href="@{/assets/js/morris/morris-0.4.3.min.css}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link th:href="@{/assets/css/custom-styles.css}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link th:href='@{https://fonts.googleapis.com/css?family=Open+Sans}' rel='stylesheet' type='text/css' />

    <link th:href="@{/assets/js/dataTables/dataTables.bootstrap.css}" rel="stylesheet" />
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:;">SHOP</a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">

                        <li><a href="javascript:;" th:text="${session.admin != null ? session.admin.name : ''}"><i class="fa fa-anchor"></i></a></li>
                        <li><a th:href="@{/user/admin/logout}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>

                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                </ul>

            </div>

        </nav>

        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            <small>出版社列表</small>
                        </h1>
                    </div>
                </div>
                <!-- /. ROW  -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- Advanced Tables -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <form th:action="@{/press/condition}" method="post" class="form-inline" style="padding: 0 20px;">
                                        <div class="form-group">
                                            <label>出版社名</label>
                                            <input name="proName" class="form-control" th:value="${proName}">
                                        </div>

                                        &nbsp;
                                        <button type="submit" class="btn btn-primary">搜索</button>
                                        &nbsp;
                                        <button type="button" onclick="showInsertModal()" class="btn btn-sm btn-info">添加出版社</button>
                                        &nbsp;
                                        <button type="button" onclick="batchDelete()" class="btn btn-sm btn-danger" style="margin-left: 10px;">批量删除</button>
                                    </form>

                                </div>

                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                        <tr>
                                            <th><input type="checkbox" id="all"/></th>
                                            <th>编号</th>
                                            <th>出版社名</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="b : ${presses != null ? presses : null}">
                                            <td class="col-sm-1"><input type="checkbox" class="sel" th:value="${b.value}"></td>
                                            <td th:text="${b.value}"></td>
                                            <td th:text="${b.label}"></td>
                                            <td class="col-md-2">
                                                <button class="btn btn-sm btn-default" th:onclick="${'showModal('+b.value+')'}">编辑</button>
                                                <button class="btn btn-sm btn-danger" th:onclick="${'delBook('+b.value+')'}">删除</button>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <!--End Advanced Tables -->
                    </div>
                </div>

                <!-- /. ROW  -->
            </div>
        </div>

        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="modal-form" class="form-horizontal" th:action="@{/press/manage}" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">修改出版社</h4>
                </div>
                <div class="modal-body">

                        <input type="hidden" name="_method" value="PUT">
                        <input type="hidden" name="id" id="bookId">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">出版社名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="proName" name="proName">
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </form>
                </div>

            </div>
        </div>
    </div>

    <div id="msgModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>操作提示</h3>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script th:src="@{/assets/js/jquery-1.10.2.js}"></script>
    <!-- Bootstrap Js -->
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <!-- Metis Menu Js -->
    <script th:src="@{/assets/js/jquery.metisMenu.js}"></script>
    <!-- Custom Js -->
    <script th:src="@{/assets/js/custom-scripts.js}"></script>
    <script th:src="@{/assets/js/dataTables/jquery.dataTables.js}"></script>
    <script th:src="@{/assets/js/dataTables/dataTables.bootstrap.js}"></script>
    <script>
        function batchDelete() {
            var ids = new Array();
            $(".sel:checked").each(function (i, item) {
                ids[i] = $(item).val();
            });
            var idStr = ids.join(",");
            var ajaxBody = {
                url : "/press/manage/batch",
                type : "POST",
                data : {id : idStr, _method : "DELETE"},
                success : function (json) {
                    var msgContent = $($("#msgModal").find(".modal-body")[0]);
                    if (json.responseCode == 'OK') {
                        var form = $("<form></form>").attr("action", "/press/condition").attr("method", "POST")
                                    .append($("<input/>").attr("name", "condition").attr("value", ""));
                        $(document.body).append(form);
                        form.submit();
                    } else {
                        msgContent.text("批量删除失败!");
                        $("#msgModal").modal('show');
                    }

                },
                error : function () {
                    alert("网络异常!");
                }
            };
            $.ajax(ajaxBody);
        }
    </script>
    <script>
        function delBook(bookId) {
            var form = $("<form></form>").attr("action", "/press/manage").attr("method", "POST")
                .append($("<input/>").attr("name", "_method").attr("type", "hidden").attr("value", "DELETE"))
                .append($("<input/>").attr("name", "pressId").attr("value", bookId));
            $(document.body).append(form);
            form.submit();
        }
    </script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url : "/menus",
                success : function (json) {
                    $.each(json.data, function (i, item) {
                        $("<li></li>").append($("<a></a>").attr('href', item.uri).append($("<i></i>").attr('class', item.className)).append(item.name)).appendTo("#main-menu");
                    })
                }
            });
            $('#dataTables-example').dataTable({
                "lengthMenu" : [5, 10, 15, 20, 30, 50]
            });
        });
    </script>

    <script>
        function showModal(bookId) {

            $("#bookId").val(bookId);
            $($("#modal-form [name='_method']")[0]).val('PUT');
            $.ajax({
                url : "/press/manage/" + bookId,
                success : function (json) {
                    var books = json.data;
                    $("#proName").val(books);
                },
                error: function () {
                    alert("网络异常!");
                }
            });
            $("#myModalLabel").text('修改出版社');
            $("#myModal").modal('show');


        }
    </script>

</body>
<script>
    $(function () {
        $("#all").click(function () {
            var flag = $(this).prop("checked");
            $(".sel").each(function (i, item) {
                $(this).prop("checked", flag);
            });
        });
    });
</script>
<script>
    function showInsertModal() {
        $("#modal-form :input").not("button").each(function(item){
            $(this).val('');
        });
        $("#modal-form").attr('action', '/press/manage/');
        $($("#modal-form [name='_method']")[0]).val('POST');
        $("#myModalLabel").text('添加图书类别');
        $("#myModal").modal('show');
    }
</script>

</html>