<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>搜索页面</title>

    <link th:href="@{/AmazeUI-2.4.2/assets/css/amazeui.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/AmazeUI-2.4.2/assets/css/admin.css}" rel="stylesheet" type="text/css"/>

    <link th:href="@{/basic/css/demo.css}" rel="stylesheet" type="text/css"/>

    <link th:href="@{/css/seastyle.css}" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" th:src="@{/basic/js/jquery-1.7.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>

<body>

<!--顶部导航条 -->
<div class="am-container header">
    <ul class="message-l">
        <div class="topMessage">
            <div class="menu-hd" th:if="${session.user == null}">
                <a th:href="@{/login}" target="_top">亲，请登录</a>
                &nbsp;
                <a th:href="@{/user/register}" target="_top">免费注册</a>
            </div>
            <div class="menu-hd" th:if="${session.user != null}">
                <a th:href="@{/index}">网站首页</a>
            </div>
            <a style="position:absolute;left:82%;top: 0;" th:href="@{/logout}">退出</a>
        </div>
    </ul>
</div>

<!--悬浮搜索框-->

<div class="nav white">
    <div class="search-bar pr">
        <a name="index_none_header_sysc" href="#"></a>
        <form th:action="@{/book/search}" method="post">
            <input id="searchInput" name="bookName" type="text" placeholder="搜索" autocomplete="off">
            <input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
        </form>
    </div>
</div>

<div class="clear"></div>
<b class="line"></b>
<form id="form01" method="post" th:action="@{/book/search}">
<div class="search">
    <div class="search-list">
        <div class="nav-table">
            <div class="long-title"><span class="all-goods">全部分类</span></div>
        </div>
        <input type="hidden" name="pageNum" id="pageNum" th:value="${pageNum}">
        <input type="hidden" name="typeId" id="typeId" th:value="${typeId}">
        <input type="hidden" name="bookName" th:value="${bookName}">
        <div class="am-g am-g-fixed">
            <div class="am-u-sm-12 am-u-md-12">
                <div class="theme-popover">
                    <ul class="select">
                        <p class="title font-normal">
                            <span class="fl"  th:text="${bookName}"></span>
                            <span class="total fl">搜索到<strong class="num" th:text="${pageInfo.total}"></strong>件相关商品</span>
                        </p>
                        <div class="clear"></div>
                        <li class="select-list">
                            <dl>
                                <dt class="am-badge am-round">图书类别</dt>

                                <div class="dd-conent">
                                    <dd class="fNameSelectParent select-all"><a href="javascript:;" onclick="setVal('')">全部</a></dd>
                                </div>

                            </dl>
                        </li>
                        <li class="select-list" th:each="type : ${session.types}">
                            <dl>
                                <dt class="am-badge am-round" th:text="${type.key}"></dt>

                                <div class="dd-conent">
                                    <dd class="fNameSelectParent" th:each="bean : ${type.value}">
                                        <a href="javascript:;" th:id="${bean.value}" class="fNameSelect" th:onclick="'setVal('+${bean.value}+')'" th:text="${bean.label}"></a>
                                    </dd>
                                </div>
                            </dl>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="search-content">
                    <div class="sort">
                        <li><input type="radio" name="sortId" value="1">综合排序</li>
                        <li><input type="radio" name="sortId" value="2">销量排序</li>
                        <li><input type="radio" name="sortId" value="3">价格升序</li>
                        <li><input type="radio" name="sortId" value="4">价格降序</li>
                    </div>
                    <div class="clear"></div>

                    <ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 boxes">
                        <li th:each="book : ${pageInfo.list}">
                            <div class="i-pic limit">
                                <a th:href="@{/book/{bookId}(bookId=${book.id})}"><img th:src="@{/images/{img}(img=${book.image})}"/></a>
                                <p class="title fl" th:text="${book.name}"></p>
                                <p class="price fl">
                                    <b>¥</b>
                                    <strong th:text="${book.price}"></strong>
                                </p>
                                <p class="number fl">
                                    销量<span th:text="${book.quantities == null ? 0 : book.quantities}"></span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="search-side">

                    <div class="side-title">
                        推荐书籍
                    </div>
                    <li th:each="recBook,iterStat : ${recomBooks}" th:if="${iterStat.index<3}">
                        <div class="i-pic check">
                            <a th:href="@{/book/{bookId}(bookId=${recBook.id})}"><img th:src="@{/images/{img}(img=${recBook.image})}"/></a>
                            <p class="check-title" th:text="${recBook.name}"></p>
                            <p class="price fl">
                                <b>¥</b>
                                <strong th:text="${recBook.price}"></strong>
                            </p>
                            <p class="number fl">
                                销量<span th:text="${recBook.quantities}"></span>
                            </p>
                        </div>
                    </li>

                </div>
                <div class="clear"></div>
                <!--分页 -->
                <ul class="am-pagination am-pagination-right">
                    <li th:class="${pageInfo.hasPreviousPage == false} ? 'am-disabled':''">
                        <a href="javascript:;" th:onclick="'jump('+${pageInfo.prePage}+')'">&laquo;</a>
                    </li>
                    <li th:each="n : ${pageInfo.navigatepageNums}" th:class="${pageInfo.pageNum == n} ? 'am-active' : ''">
                        <a href="javascript:;" th:text="${n}" th:onclick="'jump('+${n}+')'"></a>
                    </li>
                    <li th:class="${pageInfo.hasNextPage == false} ? 'am-disabled':''">
                        <a href="javascript:;" th:onclick="'jump('+${pageInfo.nextPage}+')'">&raquo;</a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="footer ">
            <div class="footer-hd ">
                <p>
                    <a href="# ">商城首页</a>
                    <b>|</b>
                    <a href="https://www.alipay.com" target="_blank">支付宝</a>
                </p>
            </div>
            <div class="footer-bd ">
                <p>
                    <a href="javascript:;">合作伙伴</a>
                    <a href="javascript:;">联系我们</a>
                    <a href="javascript:;">网站地图</a>
                </p>
            </div>
        </div>
    </div>

</div>
</form>

<!--引导 -->
<div class="navCir">
    <li class="active"><a th:href="@{/index}"><i class="am-icon-home "></i>首页</a></li>
    <li><a href="javascript:;"><i class="am-icon-list"></i>分类</a></li>
    <li><a th:href="@{{val}(val=${session.user != null ? '/cart/'+session.user.id : 'javascript:;'})}"><i class="am-icon-shopping-basket"></i>购物车</a></li>
    <li><a th:href="@{{val}(val=${session.user != null ? '/user/'+session.user.id : 'javascript:;'})}"><i class="am-icon-user"></i>我的</a></li>
</div>

<!--菜单 -->
<div class=tip>
    <div id="sidebar">
        <div id="wrap">
            <div id="prof" class="item ">
                <a href="javascript:; ">
                    <span class="setting "></span>
                </a>
                <div class="ibar_login_box status_login ">
                    <div class="avatar_box ">
                        <p class="avatar_imgbox "><img th:src="@{/images/{imgId}(imgId=${session.user.img == null ? 'no-img_mid_.jpg' : session.user.img})}"/></p>
                        <ul class="user_info ">
                            <li th:if="${session.user != null}" th:text="${session.user.nickName}"></li>
                        </ul>
                    </div>
                    <div class="login_btnbox ">
                        <a th:href="@{session.user != null ? '/user/'+${session.user.id} : 'javascript:;'}" class="login_order ">个人中心</a>
                        <a th:href="@{/order/{userId}/3(userId=${session.user.id})}" class="login_favorite ">我的订单</a>
                    </div>
                    <i class="icon_arrow_white "></i>
                </div>

            </div>
            <div id="shopCart " class="item ">
                <a th:href="@{/cart/{id}(id=${session.user.id})}">
                    <span class="message "></span>
                </a>
                <p>
                    购物车
                </p>
                <p class="cart_num " th:text="${session.cartNum}">0</p>
            </div>

            <div class="quick_toggle ">
                <li class="qtitem ">
                    <a href="#top " class="return_top "><span class="top "></span></a>
                </li>
            </div>

            <!--回到顶部 -->
            <div id="quick_links_pop " class="quick_links_pop hide "></div>

        </div>

    </div>
</div>
<script>
    window.jQuery || document.write('<script th:src="@{/basic/js/jquery.min.js} "><\/script>');
</script>
<script type="text/javascript " th:src="@{/basic/js/quick_links.js} "></script>
<div class="theme-popover-mask"></div>

</body>
<script>
    $(function () {
        $("input[name='sortId']").each(function (i, item) {
            $(item).click(function () {
                $("#form01").submit();
            });
        });
    });
</script>
<script th:inline="javascript">
    var typeId = [[${typeId}]];
    $(function () {
        $(".fNameSelectParent").each(function (i, item) {
           $(item).removeClass("selected");
        });
        var flag = false;
        $(".fNameSelect").each(function (i, item) {
            if ($(item).attr("id") == typeId) {
                $(item).parent().addClass("selected");
                flag = true;
            }
        });
        if (!flag) {
            $(".fNameSelectParent:first").addClass("selected");
        }
    });
</script>
<script th:inline="javascript">
    var sortId = [[${sortId}]];
    $(function () {
        $("input[name='sortId']").each(function (i, item) {
            if (item.value == sortId) {
                item.checked = 'checked';
            }
        })
    });
</script>
<script>
    function jump(num) {
        $("#pageNum").val(num);
        $("#form01").submit();
    }
</script>
<script>
    function setVal(val) {

        $("#typeId").val(val);
        $("#form01").submit();

    }
</script>
</html>